@import "_nullstyle";
@import "media.scss";
@font-face {
    font-family: 'Marta_Regular';
    src: url(../font/Marta_Regular.otf);
}
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}
$maxWidth: 1920;
/* font-size: calc(39px + (26 + 26 * 0.7) * ((100vw - 320px) / 1920)); */
$colorWhite: #ffffff;
$colorBlack: #000;
$colorMain: #7bb3e0;
$colorFocus: #60a7e0;
%tpboxShadow {
    box-shadow: 10px 10px 25px $colorMain; //40px было
}
%tpborderTitle {
    border-bottom: 3px solid $colorMain;
    border-top: 3px solid $colorMain;
    padding: 7px 7px;
}

.no-scroll {
    overflow-y: hidden;
}
body {
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-weight: normal;
    color: $colorBlack;
    font-family: "Marta_Regular", sans-serif;
    display: flex;
    flex-direction: column;
    /* background-color: #fafafa;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png"); */

    /* background-color: #fafafa;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"); */

    background-color: #fafafa;
    /* background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png"); */
}
.container {
    padding: 0px 15px 0px 15px;
}

.header {
    flex: 0 0 auto;
    box-shadow: 1px 1px 40px #7bb3e0, -1px 1px 40px #7bb3e0;
    &__wrap {
        margin: 0px auto 0px auto;
        max-width: 1530px;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        align-items: center;
        /* box-shadow: 1px 1px 40px #7bb3e0, -1px 1px 40px #7bb3e0; */
    }

    &__nav {
        /* max-width: 730px; */
        flex: 0 1 530px;

        ul {
            display: flex;
            gap: 10px;
            justify-content: space-between;
        }
    }
    //мобильная навигация
    &__nav-btn {
        display: none;
        margin-left: 10px;
        height: 42px;
        z-index: 9;
        background: transparent;
        position: relative;
        border: none;
        &:focus,
        &:active {
            outline: none;
        }
        &_close {
            background: none;
            height: 32px;
            margin-top: 20px;
        }
        &_close > .header__nav-btn-icon {
            background-color: transparent;
        }
        &_close > .header__nav-btn-icon::before {
            transform: rotate(45deg);
            top: 0;
            background-color: $colorBlack;
            transition: 0.5s;
        }
        &_close > .header__nav-btn-icon::after {
            transform: rotate(-45deg);
            top: 0;
            background-color: $colorBlack;
            transition: 0.5s;
        }
    }
    &__nav-btn-icon {
        display: block;
        position: relative;
        width: 42px;
        height: 5px;
        background-color: $colorMain;
        &:before {
            content: "";
            width: 42px;
            height: 5px;
            background-color: $colorMain;
            position: absolute;
            top: -10px;
            left: 0px;
        }
        &:after {
            content: "";
            width: 42px;
            height: 5px;
            background-color: $colorMain;
            position: absolute;
            top: 10px;
            left: 0px;
        }
    }
    &__mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        background-color: $colorMain;
        padding: 83px 83px 0px 71px;
        transition: opacity 0.5s;
        opacity: 0.95;
        z-index: 8;
        @extend %tpboxShadow;
        &_hidden {
            display: none;
        }
    }
    &__mobile-list {
        margin-bottom: 100px;
    }
    &__mobile-list a {
        display: inline-block;
        color: inherit;
        line-height: 1.8;
        position: relative;
        margin-bottom: 15px;
        &::after {
            content: "";
            display: block;
            height: 2px;
            background-color: $colorWhite;
            width: 0%;
            left: 50%;
            position: absolute;
            transform: translate(-50%);
            transition: width 0.5s ease-in-out, color 0.5s ease-in-out;
        }
        &:hover {
            color: $colorWhite;
        }
        /* a:hover {
            color: #fff;
            text-decoration: underline;
            transition: all 1s 0s;
        } */
    }
    &__mobile-list a:hover::after,
    &__mobile-list a:hover:focus {
        width: 100%;
    }
    //конец мобильная навигация
    &__link {
        display: block;
        color: inherit;
        line-height: 1.8;
        position: relative;
        &::after {
            content: "";
            display: block;
            height: 2px;
            background-color: $colorMain;
            width: 0%;
            left: 50%;
            position: absolute;
            transform: translate(-50%);
            transition: width 0.5s ease-in-out;
        }
        &:hover {
            color: $colorMain;
        }
    }
    &__link:hover::after,
    &__link:hover:focus {
        width: 100%;
    }

    &__icons {
        p {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }
        a {
            /* width: 70px;
            height: 70px; */
            padding: 15px;
        }
    }

    &__img {
        width: 53px;
        height: 40px;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.2);
            transition: all 0.5s;
        }
    }
}
.main {
    flex: 1 0 auto;
    &__wrap {
        /* display: none; */
        margin: 0 auto;
        /* flex: 0 0 765px; */
    }

    &__hero {
        /* display: none; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        padding-top: 150px;
        padding-bottom: 150px;
        max-width: 1530px;
        margin: 0 auto;
    }
    &__text-wrap {
        flex: 0 1 765px;
        /* max-width: 765px; */
    }
    &__text {
        @include adaptiv-font(65, 39);

        line-height: 2.5;
        /* font-size: 65px; */
        /* font-size: calc(39px + 26 * (100vw / 1920)); */
        /* font-size: calc(39px + (26 + 26 * 0.7) * ((100vw - 320px) / 1920)); */
        text-align: center;
        font-style: italic;
        margin-bottom: 10px;

        p {
            width: fit-content;
            margin: 0 auto;
            font-style: normal;
            line-height: 1.5;
            @include adaptiv-font(35, 22);
        }
        span {
            display: block;
            width: fit-content;
            margin: 0 auto;
            @include adaptiv-font(25, 20);
            font-style: normal;
        }
    }

    &__time {
        /* display: flex; */
        display: none;
        justify-content: center;
        padding: 30px 0px 100px 0px;
        p {
            width: fit-content;
            font-size: 20px;
            text-align: center;
            /* margin: 30px auto 100px auto; */
            @include adaptiv-font(20, 16);
        }
    }
    &__btn {
        /* display: flex; */
        display: none;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        padding: 25px;
        border-radius: 15px;
        background-color: transparent;
        /* background-color: $colorMain; */
        cursor: pointer;
        color: inherit;
        @include adaptiv-font(35, 20);
        transition: background-color 0.6s, color 0.6s, box-shadow 0.6s;

        box-shadow: 1px 1px 20px #7bb3e0, -1px 1px 20px #7bb3e0;
        border: 2px solid $colorMain;
        @extend %tpboxShadow;

        &:hover {
            transition: 0.6s;
            /* padding: 23px; */
            background-color: $colorMain;
            color: $colorWhite;
            box-shadow: none;
        }
        &:active {
            background-color: $colorFocus;
        }
    }

    &__foto {
        flex: 0 1 765px;
        height: 640px;
        img {
            width: 100%;
            object-fit: contain;
            object-position: center;
            height: 100%;
        }
    }
    //**********************
    //MODAL WINDOW
    //*******************

    &__modal {
        display: none;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);

        &_active {
            display: flex;
        }
    }

    &__modal-window {
        position: relative;
        z-index: 4;
        max-width: 713px;

        width: 713px;

        border-radius: 10px;
        padding: 20px;
        background-color: #fafafa;
        background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    }

    &__contact {
        display: block;
        width: fit-content;
        @include adaptiv-font(14, 11);
        &:last-child {
            margin-bottom: 0px;
        }
        a {
            color: inherit;
            transition: color 0.5s;
            &:hover {
                color: $colorMain;
            }
        }
    }

    //*********************
    //TECHNOLOGY
    //********************
    &__technology-wrap {
        /* display: none; */
        padding-top: 50px;
        padding-bottom: 50px;
        /* background: linear-gradient(0deg, #000, #262626); */
    }

    &__technology {
        max-width: 1530px;
        margin: 0 auto;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        text-align: center;
        /* flex-wrap: wrap; */
        justify-content: center;
    }

    &__tech-box {
        /* position: relative; */
        /* border: 3px solid $colorMain; */
        border-radius: 10px;
        width: 480px;
        /* @extend %tpboxShadow; */
        background-color: transparent;
        height: 400px;
        min-height: 298px;
        perspective: 1000px;
    }
    &__box-inner {
        @extend %tpboxShadow;
        /* border: 3px solid $colorMain; */
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        z-index: 1;
        backface-visibility: hidden;
        border-radius: 10px;
    }
    &__tech-box:hover .main__box-inner {
        transform: rotateY(-180deg);
    }
    &__tech-box:hover .main__box-back {
        transform: rotateY(0deg);
    }
    &__box-front {
        padding: 20px;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* top: 0;
        left: 0; */
    }
    &__box-back {
        /* @extend %tpboxShadow; */
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #080909;
        color: $colorWhite;
        transform: rotateY(180deg);
        transition: transform 0.5s;
        transform-style: preserve-3d;
        border-radius: 10px;

        /*  overflow: hidden; */
        &_blockJs {
            padding: 20px;
            display: block;
        }
    }

    .border {
        p {
            color: $colorWhite;
        }
        &:hover:before {
            filter: blur(10px);
        }
    }

    .border::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        background: linear-gradient(0deg, #000, #262626);
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        z-index: -1;
        border-radius: 10px;
    }
    .border::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        background: linear-gradient(
            45deg,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000
        );
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        z-index: -2;
        border-radius: 10px;
        background-size: 400%;
        animation: animate 15s linear infinite;
    }
    @keyframes animate {
        0%,
        100% {
            background-position: 0 0;
        }

        50% {
            background-position: 300% 0;
        }
    }
    &__tech-title {
        @include adaptiv-font(50, 30);
        text-transform: uppercase;
        font-weight: bold;

        margin-bottom: 22px;
        color: #60a7e0;
    }
    #escapeText {
        position: absolute;
        transition: 0.2s linear 0.2s;
        @include adaptiv-font(25, 22);
        cursor: default;
        &:hover {
            color: #00ff00;
        }
    }
    &__back-text {
        @include adaptiv-font(30, 22);
        color: #dbd7d7;
    }
    #score {
        @include adaptiv-font(30, 22);
        color: #ffff00;
    }
    &__tech-text {
        @include adaptiv-font(35, 22);
        line-height: 1.9;
    }

    //***********************
    //НАВЫКИ
    //***********************
    &__skills-wrap {
        /* display: none; */
        max-width: 1530px;
        margin: 0 auto;
    }
    &__skills {
        margin: 0 auto 150px auto;
        text-align: center;
    }
    &__maket-wrap {
        /* display: none; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: 100px;
    }
    &__maket {
        max-width: 300px;

        p {
            @include adaptiv-font(35, 18);
            line-height: 1.5;
        }
    }
    &__img {
        min-height: 100px;
        height: 200px;
        max-width: 200px;
        width: 200px;
        margin: 0 auto 50px auto;
        flex: 0 0 702px;
        border: 3px solid $colorMain;
        border-radius: 15px;
        padding: 20px;
        background-color: #fff;
        /* box-shadow: 14px 16px 3px rgba(48, 103, 134, 0.5); */
        @extend %tpboxShadow;
        /* background-color: $colorMain; */
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    //*************************
    //АДАПТИВ
    //*************************
    &__adaptiv-wrap {
        /* display: none; */
        max-width: 1530px;
        /* width: 1200px; */
        margin: 0 auto 150px auto;
    }
    &__adaptiv {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        background-color: $colorWhite;
        border-radius: 15px;
        @extend %tpboxShadow;
        position: relative;
        height: 550px;
        p {
            position: absolute;
            top: 5%;
            left: 20%;
            @include adaptiv-font(40, 15);
            font-weight: bold;
        }
    }

    &__adaptiv-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        /* color: $colorWhite; */
        @include adaptiv-font(35, 13);
        line-height: 1.9;
        max-width: 640px;
        width: 640px;
    }

    &__adaptiv-img {
        max-width: 640px;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
            border-radius: 5px;
        }
    }

    &__title {
        display: block;
        width: fit-content;
        @include adaptiv-font(50, 20);
        @extend %tpborderTitle;
        line-height: normal;
        margin: 0px auto 30px auto;
        text-align: center;
        padding: 10px;
        box-shadow: 0px 0px 20px $colorMain;
        border-radius: 10px;
        background-color: $colorWhite;
        span {
            display: block;
            @include adaptiv-font(25, 14);
            color: rgba(0, 0, 0, 0.5);
        }
    }
    //****************************
    //PIXEL
    //****************************
    &__pixel-wrap {
        max-width: 1530px;
        margin: 0 auto 150px auto;
    }
    &__pixel {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        background-image: url(../img/pixelBg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        height: 550px;
        @extend %tpboxShadow;
    }
    &__pixel-text {
        @include adaptiv-font(35, 20);
        line-height: 1.9;
        max-width: 620px;
        height: auto;
    }
    &__pixel-title {
        text-transform: uppercase;
        @include adaptiv-font(85, 35);
        font-weight: bold;
        line-height: 1.5;
        max-width: 620px;
        width: 620px;
        height: auto;
        color: #6d05ff;
        span {
            display: inline-block;
            padding-left: 160px;
            margin-top: 30px;
            color: #60a7e0;
        }
    }
    &__skill:nth-child(2) {
        margin-bottom: 0px;
    }
    //***************************
    //МОДАЛЬНОЕ ОКНО SKILL(SASS, BEM)
    //***************************
    &__skill-modal {
        display: none;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        &_active {
            display: flex;
        }
    }
    &__modal-window-bem {
        display: block;
        position: relative;
        z-index: 4;
        max-width: 70vh;
        width: 70vh;
        border-radius: 10px;
        padding: 20px;
        margin: 15px;
        background-color: #fafafa;
        text-align: justify;
        text-indent: 1.9em; //отступ первой строки
        line-height: 2.5;
        @include adaptiv-font(20, 11);
        &_hidden {
            display: none;
        }
    }
    &__modal-window-sass {
        display: block;
        position: relative;
        z-index: 4;
        max-width: 70vh;
        width: 70vh;
        border-radius: 10px;
        padding: 20px;
        margin: 15px;
        background-color: #fafafa;
        text-align: justify;
        text-indent: 1.9em; //отступ первой строки
        line-height: 2.5;
        @include adaptiv-font(20, 11);
        &_hidden {
            display: none;
        }
    }
    &__skill-container {
        /* display: none; */
    }
    &__skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 150px;
        height: 550px;
        background-color: #ffffff;
        padding-top: 15px;
        padding-bottom: 15px;
        @extend %tpboxShadow;
        border-radius: 15px;
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }

    &__skill-bg {
        width: 85%;
        height: 100%;
        &_color {
            background-color: $colorWhite;
        }
        &_position {
            position: relative;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
            border-radius: 5px;
        }
    }
    #main__sass {
        position: absolute;
        top: 0;
        right: 7%;
        width: 45%;
    }

    &__skill-text {
        @include adaptiv-font(35, 20);
        line-height: 1.7;
        p {
            padding: 10px;
        }
    }
    #modalBem {
        display: inline-block;
        color: $colorMain;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            cursor: url("../img/cursorQ.png"), auto;
        }
    }
    #modalSass {
        display: inline-block;
        color: $colorMain;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            cursor: url("../img/cursorQ.png"), auto;
        }
    }

    //************************************
    //МОИ РАБОТЫ
    //************************************
    &__portfolio-wrap {
        /* display: none; */
    }

    &__portfolio {
        max-width: 1530px;
        margin: 0 auto;
    }

    &__portfolio-card {
        display: flex;
        height: 663px;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        border-radius: 15px;
        margin-bottom: 50px;
        background-color: $colorWhite;
        @extend %tpboxShadow;
        border: 2px solid $colorWhite;
        transition: border 0.5s, transform 0.5s;
        &:hover {
            @extend %tpboxShadow;
            border: 2px solid #7bb3e0;
            transition: transform 0.5s, border 0.5s;
            transform: scale(1.03);
        }
    }
    &__link-card {
        display: block;
        /* max-width: 640px; */
        /* width: 640px; */
        /* flex: 0 0 640px; */

        height: 100%;
        color: #000;
    }
    &__link-card:nth-child(even) .main__portfolio-card {
        flex-direction: row-reverse;
    }
    &__portfolio-prewie {
        height: 663px;
        padding: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__portfolio-text {
        max-width: 640px;
        padding: 25px;
        @include adaptiv-font(17, 11);
        line-height: 1.2;
        span {
            display: inline-block;
            font-weight: bold;
            margin-top: 15px;
        }
    }
    &__link-download {
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
        cursor: url("../img/cursor.png"), auto;
        margin: 50px auto 0px auto;
        width: 100%;
        padding: 15px;
        border-radius: 15px;
        background-color: transparent;
        color: inherit;
        @include adaptiv-font(15, 8);
        font-style: italic;
        transition: background-color 0.6s, color 0.6s, box-shadow 0.6s, color 0.8s;
        border: 2px solid $colorMain;
        &:hover {
            transition: 0.6s;
            background-color: $colorMain;
            color: $colorWhite;
            box-shadow: none;
        }
        &:active {
            background-color: $colorFocus;
        }
        &::before {
            content: url(../img/download.png);
        }
    }
    //*****************************
    //FAQ
    //****************************
    &__faq-wrap {
        /* display: none; */
        /* margin-bottom: 100px; */
    }

    &__faq {
        max-width: 900px;
        margin: 0 auto;
    }
    &__faq-details {
        margin-bottom: 35px;
        border: 2px solid $colorMain;
        border-radius: 15px;
        padding: 10px;
        @extend %tpboxShadow;
        background-color: #fff;
    }
    &__faq-details .main__faq-subtitle {
        list-style: none;
    }
    &__faq-subtitle {
        @include adaptiv-font(30, 11);
        margin: 4px 0px 4px 0px;
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 30px;
        position: relative;
        &::after {
            content: "";
            background-image: url(/img/down.svg);
            background-size: 30px 30px;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            position: absolute;
            top: -1px;
            right: 8px;
            display: inline-block;
            cursor: pointer;
            transition: 1s;
        }
    }
    &__faq-text {
        @include adaptiv-font(20, 11);
    }
    &__faq-details[open] > .main__faq-subtitle::after {
        background-image: url(/img/up.svg);
        background-size: 30px 30px;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -1px;
        right: 8px;
        display: inline-block;
        cursor: pointer;
        transition: 1s;
        transform: rotate(360deg);
    }
    &__faq-text-wrap {
        display: flex;
        justify-content: space-around;
        gap: 32px;
        padding: 6px;
        width: 100%;
        line-height: 1.8;
    }
    &__text-column {
        margin: 0 auto;
        @include adaptiv-font(20, 9);
        position: relative;
        margin-bottom: 10px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -36px;
            background-image: url(./../img/listStyle.png);
            background-size: 25px 25px;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
        }
    }
    //***************************
    //НАПИШИТЕ МНЕ
    //**************************
    &__connection-wrap {
        margin-bottom: 50px;
    }
    &__plug {
        /* max-width: 1500px; */
        height: 50px;
    }
    &__connection {
        max-width: 1530px;
        margin: 0 auto;
    }

    &__columns {
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
    }
    //***************************
    //КОНТАКТЫ
    //***************************
    &__social {
        /* max-width: 535px; */
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        width: 50vw;
        justify-content: center;
        gap: 15px;
    }

    &__row-inner:hover .main__social-icon {
        transform: scale(1.15);
        transition: 0.5s;
    }
    &__row-inner {
        display: inline-flex;
        align-items: center;
    }
    &__social-icon {
        display: block;
        width: 85px;
        height: 70px;
        padding: 15px;
        transition: transform 0.5s;
        padding-right: 15px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__social-link {
        width: fit-content;
        color: #000;
        cursor: pointer;
        transition: color 0.3s;
        @include adaptiv-font(20, 12);
        &:hover {
            transition: 0.3s;
            color: $colorMain;
        }
    }
    //*************************
    //FORM
    //*************************
    &__form-wrap {
        /* display: none; */
        max-width: 965px;
        /* width: 965px; */
        height: auto;
        border-radius: 10px;
        @extend %tpboxShadow;
    }
    &__form {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 15px;
    }
    &__form input[type="text"],
    &__form input[type="e-mail"] {
        width: 100%;
        padding: 15px;
        @include adaptiv-font(20, 10);
        letter-spacing: 1px;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    &__form input[type="text"]:focus,
    &__form input[type="e-mail"]:focus {
        border: 1px solid $colorMain;
        outline: none;
        padding: 14px;
    }
    &__form input[type="text"]::placeholder,
    &__form input[type="e-mail"]::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
    &__file-wrap {
        display: flex;
        position: relative;
        margin-bottom: 15px;
    }
    &__file-wrap input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    &__name-file {
        width: 100%;
        padding: 15px;
        background-color: $colorWhite;
        color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        @include adaptiv-font(20, 10);
    }
    &__file-btn {
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 250px;
        width: 9vw;
        min-width: 85px;
        height: 100%;
        background-color: $colorMain;
        @include adaptiv-font(18, 10);
        letter-spacing: 1px;
        color: $colorBlack;
    }
    &__textarea {
        width: 100%;
        height: 20vw;
        border-radius: 10px;
        padding: 10px;
        @include adaptiv-font(20, 10);
        letter-spacing: 1px;
        resize: none;
        overflow: auto;
        margin-bottom: 15px;
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
        &:focus {
            border: 1px solid $colorMain;
            border-radius: 10px;
        }
    }
    &__submit {
        display: block;
        margin: 0 auto;
        width: 300px;
        max-width: 45vw;
        padding: 20px;
        background-color: $colorMain;
        @include adaptiv-font(18, 10);
        letter-spacing: 1px;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-bottom: 15px;
        cursor: pointer;
    }
}
.footer {
    /* display: none; */
    flex: 0 0 auto;
    width: 100%;
    background: #356d9c;
    /* #3c4242
    $colorMain: #7bb3e0;
$colorFocus: #60a7e0; */

    /* color: rgba(235, 224, 224, 0.9); */
    color: rgba(255, 255, 255, 0.77);
    font-size: 20px;
    &__columns {
        display: flex;
        /* max-width: 1530px; */
        margin: 25px auto 25px auto;
        gap: 35px;
        justify-content: center;
        line-height: 1.3;
    }

    &__column {
        padding: 10px;
        cursor: default;
        p {
            margin-bottom: 15px;

            @include adaptiv-font(20, 12);

            width: fit-content;
        }
        a {
            color: inherit;
            cursor: pointer;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
        span {
            font-weight: bold;
            text-decoration: underline;
        }
        &_grow {
            flex: 0 1 500px;
        }
    }

    &__title {
        @include adaptiv-font(25, 19);
        margin-bottom: 25px;
        color: #fff;
    }
    &__copyright {
        background: rgb(39, 37, 37);
        /* background: #0b1531; */
        color: $colorWhite;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 100px;
        @include adaptiv-font(15, 11);
        a {
            color: inherit;
            border-bottom: 1px dashed #fff;
            &:hover {
                border-bottom: none;
            }
        }
    }
    &__copyright-text {
        margin-bottom: 5px;
    }
}
